{% extends "shop/base.html" %}
{% load bootstrap4 %}

<title>{% block title %}Medicine transfers{% endblock %}</title>
{% block content %}
    <center>{% bootstrap_messages %}</center>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
                <div class="card my-5">

                    <div class="card-header text-center">
                        Medicine transfers
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-success text-center w-100 mb-3"
                                   value="Procede to transfer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}