{% extends "shop/base.html" %}
{% load bootstrap4 %}

<title>{% block title %}Password reset complete{% endblock %}</title>

{% block content %}
    <center>{% bootstrap_messages %}</center>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-sm-10 offset-sm-1">
                <div class="card my-5">
                    <div class="card-body">
                        <h5>Password changed successfully!
                            <a href="{% url 'authentication:users_signin' %}">Login</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}