{% extends "shop/base.html" %}
{% load bootstrap4 %}

<title>{% block title %}Password reset{% endblock %}</title>

{% block content %}
    <center>{% bootstrap_messages %}</center>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-sm-10 offset-sm-1">
                <div class="card my-5">
                    <div class="card-header text-center">
                        Reset
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-success text-center w-100 mb-3" value="Reset Password">
                            <a href="/" class="float-right small">Home</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}