{% extends "shop/base.html" %}
{% load bootstrap4 %}

<title>{% block title %}Password reset done{% endblock %}</title>

{% block content %}
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-sm-10 offset-sm-1">
                <div class="card my-5">
                    <center>{% bootstrap_messages %}</center>

                    <div class="card-body">
                        A link has been sent to your email address; please click on that link to reset your password
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}